@font-face {
    font-family: '8Bit';
    src: url('/assets/slkscre.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h6, p, textarea, button {
    font-family: '8Bit', Times, serif;
}
.bg-primary {
    background-image: url("/assets/8bitwallpaper.png")!important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30%;
}
